{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
        </div>
    </div>
{% endblock fos_user_content %}
