{% extends 'base.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <div class="example-wrapper">
      <div class="row">
        <div class="col-2"></div>
          <div class="col-9">
            {{ include('event/_form.html.twig') }}
          </div>
      </div>
    </div>
{% endblock %}
