@font-face {
    font-family: mborijnland;
    src: url("../fonts/Galano_Grotesque.woff");
}

* {
    font-family: mborijnland;
    color: white;
}

body {
    background-image: linear-gradient(#3A0F49, #E54160);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

span img {
    color: white;
}

.text-purple{
    color: #3A0F49;
}

.event-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.event-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
}

.event-title {
    position: absolute;
    top: 10%;
    margin: 0 auto;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.26);
}

.event-route-title{
    position: absolute;
    top: 5%;
    margin: 0 auto;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.26);
}

.event-about-title{
    display: inline-block;
    position: relative;
    font-weight: bold;
}

.event-about-title:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1.5em;
    width: 100%;
    border-bottom: 2px solid;
    margin-top: 5px;
}

.event-more {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
    background-image: linear-gradient(rgba(58, 15, 73, 0.8), rgba(229, 65, 96, 0.8));
    width: 30%;
    height: 5%;
    transform: translateX(120%);
    font-size: 0.9em;
}

.event-description {
    position: absolute;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    width: 80%;
    height: 60%;
    color: #3A0F49;
}

.event-map{
    position: absolute;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    width: 80%;
    height: 60%;
    color: #3A0F49;
}

.event-route{
    position: absolute;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    width: 80%;
    height: 75%;
    color: #3A0F49;
}

.event-footer {
    position: absolute;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    width: 80%;
    height: 8%;
}

.event-discover-img {
    width: 80%;
    height: 75vh;
    object-fit: cover;
    border-radius: 10px;
}

.event-about-img {
    width: 80%;
    height: 67.5vh;
    object-fit: cover;
    border-radius: 10px;
}

.event-about-img .user-banner {
    height: 30vh !important;
}

.event-map-icon{
    border-radius: 100%;
    background-image: linear-gradient(rgb(58, 15, 73), rgb(229, 65, 96));
    padding: 3%;
    position: absolute;
    top: -7%;
    left: 80%;
}

.event-map-icon img{
    width: 3vh;
    height: 3vh;
}

.bottom-footer-icons {
    transform: scale(1.5);
}

.bold {
    font-weight: bold;
}

#collapse_menu {
    position: absolute;
    top: 7.68vh;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #3A0F49;
}

.btn, .btn-primary {
    background-image: linear-gradient(rgba(58, 15, 73, 0.8), rgba(229, 65, 96, 0.8));
    border: none !important;
}

/** Header **/

.navbar-toggler {
    border: none;
    background: transparent !important;
}
.navbar-toggler:focus {
    outline: none;
    background: transparent !important;
}

.navbar-toggler .icon-bar {
    background-color: #fff;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
}

.icon-bar:nth-child(2) {
    width: 16px;
    transition: ease all .2s;
}

.navbar-toggler:hover > .icon-bar:nth-child(2){
    width: 22px;
    transition: ease all .2s;
}
.navbar-toggler:active > .icon-bar:nth-child(2){
    width: 22px;
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: ease all .2s;
}

.usersstyles {
    font-size: 18px;
}

label {
    color: #000;
}

.user_events {
    background: url("../images/4k-wallpaper-clouds-cloudy-1668246.jpg");
    border-radius: 10px;
}

.profile_img {
    border-radius: 200px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: -10px;
    z-index: 99;
    position: relative;
}

.user-description {
    position: absolute;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    width: 80%;
    height: 80%;
    color: #3A0F49;
}

.bottom-nav {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}