<form method="post" action="{{ path('event_has_activity_delete', {'id': event_has_activity.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event_has_activity.id) }}">
    <button class="btn">Delete</button>
</form>
