<style>
  .navbar.fixed-bottom.navbar-expand {
      display: none !important;
  }
</style>

<div class="card mx-auto" style="width: 80%;">
  <img src="{{ vich_uploader_asset(activity, "file") }}" class="img-responsive" alt="..." style="height: 500px;">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          <h3 class="text-dark font-weight-bold">Naam</h3>
          <br>
          <input type="text" class="form-control" placeholder="Naam">
        </div>
        <div class="col-sm">
          <h3 class="text-dark font-weight-bold">Maximum mensen</h3>
          <br>
          <input type="number" class="form-control" placeholder="Aantal maximum mensen">
        </div>
      </div>
      <br><br>
      <h3 class="text-dark font-weight-bold">Beschrijving</h3>
      <br>
      <textarea class="form-control" rows="3" placeholder="Type hier je beschrijving in..."></textarea>
      <br><br>
      <a href="{{ path('event_index') }}" class="btn btn-primary">Terug naar events</a>
      <a href="#" class="btn btn-primary">Opslaan</a>
  </div>
</div>
